* {
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 80vh;
}
section {
    width: 100%;
    min-height: 20vh;
}

.main {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main h1 {
    font-size: 180px;
}

.koniec {
    font-size: 70px !important;
}

.btn-i {
    cursor: pointer;
}

#reset {
    cursor: pointer;
}
